<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"> -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sorvete do Robô!</h1>
        <p>Escolha o seu sabor, cobertura e topping.</p>
    </header>
    
    <main>
        <form id="sorvete-form" action="/collect_data" method="post" onsubmit="teste(event)">
            <div class="campo">
                <label for="tamanho">Selecione o tamanho do sovete</label>
                <select id="tamanho" name="tamanho" required>
                    <option value="">Selecione um tamanho</option>
                    <option value="pequeno">Pequeno</option>
                    <option value="medio">Médio</option>
                    <option value="grande">Grande</option>
                </select>
            </div>
            
            <div class="campo">
                <label for="cobertura">Escolha a cobertura:</label>
                <select id="cobertura" name="cobertura" required>
                    <option value="">Selecione uma cobertura</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="caramelo">Caramelo</option>
                    <option value="frutas">Frutas</option>
                    <option value="sem_cobertura">Sem cobertura</option>
                </select>
            </div>

            <div class="campo">
                <label for="topping">Escolha um topping:</label>
                <select id="topping" name="topping" required>
                    <option value="">Selecione um topping</option>
                    <option value="granola">Granola</option>
                    <option value="confete">Confete</option>
                    <option value="nozes">Nozes</option>
                    <option value="sem_topping">Sem topping</option>
                </select>
            </div>
            <button id="submit-btn" type="submit" >Servir Sorvete</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Sorvete do Robô. Todos os direitos reservados.</p>
    </footer>
</body>
<!-- Incluindo a biblioteca cliente do Socket.IO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script src="/scripts/main.js"></script>
</html>